# This is Git's per-user configuration file.
[core]
	ignorecase = false
[user]
# Please adapt and uncomment the following lines:
	name = Max Zhao
	email = alcasa.mz@gmail.com
[push]
	followTags = true
	default = simple
